

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Control</title>
    <link rel="stylesheet" href="../styles/style.css" />

</head>
<body>


    <div class="container">

        <div class="remote">

            <div class="divider"></div>

<div class="section1">

            <div class="leg-btn-box1">
                <p class="btn-name">Leg Up</p>
                <button class="arrow-btn leg-btn1" id="leg-button1">

                    <img class="icon icon-up" src="../images//down-round-svgrepo-com.svg" alt="leg-up" >
                </button>
            </div>
           
            <div class="head-btn-box1">
                <p class="btn-name">Head Up</p>
                <button class="arrow-btn head-btn1" id="head-button1">

                    <img class="icon icon-up" src="../images//down-round-svgrepo-com.svg" alt="head-up" >
                </button>
            </div>

            <div class="leg-btn-box2">
                <p class="btn-name">Leg Down</p>
                <button class="arrow-btn leg-btn2" id="leg-button2">

                    <img class="icon" src="../images//down-round-svgrepo-com.svg" alt="leg-up" >
                </button>
            </div>
           
            <div class="head-btn-box2">
                <p class="btn-name">Head Down</p>
                <button class="arrow-btn head-btn2" id="head-button2" >

                    <img class="icon" src="../images//down-round-svgrepo-com.svg" alt="head-up" >
                </button>
            </div>

        </div>

        <div class="section2">

            <div class="full-btn-box1">
                <p class="btn-name">Full Up</p>
                <button class="arrow-btn ful-btn1" id="full-button1">

                    <img class="icon icon-up" src="../images//down-round-svgrepo-com.svg" alt="full-up" >
                </button>
            </div>
           

            <div class="seat-btn-box">
                <p class="btn-name">Seat</p>
                <button class="arrow-btn seat-btn" id="seat-button">

                    <img class="icon icon-seat" src="../images//seat-pictogram-2-svgrepo-com (1).svg" alt="seat" >
                </button>
            </div>


            <div class="full-btn-box2">
                <p class="btn-name">Full Down</p>
                <button class="arrow-btn full-btn1" id="full-button2">

                    <img class="icon" src="../images//down-round-svgrepo-com.svg" alt="full-down" >
                </button>
            </div>
         
            <div class="tbackward-btn-box">
                <p class="btn-name">Backward</p>
                <button class="arrow-btn connect-btn-disabled  toggle-connect-btn" id="tbackward-button" disabled>
                    
                    <img class="icon icon-body-backward" src="../images/1548372886.svg" alt="tbackward" >
                </button>
            </div>



            <div class="tneck-btn-box">
                <p class="btn-name">Neck Support</p>
                <button class="arrow-btn  toggle-connect-btn connect-btn-disabled " id="tneck-button" disabled >

                    <img class="icon icon-seat icon-neck" src="../images//seat-pictogram-2-svgrepo-com (1).svg" alt="tneck" >
                </button>
            </div>
           

            <div class="tforward-btn-box">
                <p class="btn-name">Forward</p>
                <button class="arrow-btn connect-btn-disabled toggle-connect-btn" id="tforward-button" disabled>

                    <img class="icon icon-body-forward" src="../images//1548372886.svg" alt="tforward" >
                </button>
            </div>


            <div class="tflat-btn-box">
                <p class="btn-name">Bed Flat</p>
                <button class="arrow-btn connect-btn-disabled toggle-connect-btn" id="tflat-button" disabled>

                    <img class="icon icon-body-flat" src="../images//1548372886.svg" alt="tflat-down" >
                </button>
            </div>
         
            <div class="toggle-btn-box">
                <p class="btn-name">Toggle</p>
                <button class="arrow-btn toggle-btn" id="toggle-button">
                    
                    <img class="icon icon-toggle" src="../images//key-svgrepo-com.svg" alt="toggle" >
                </button>
            </div>

         
           
        </div>
            
        </div>
        
        <!-- <button>Head</button>
            
            <button class="arrow-btn leg-btn1" id="leg-button1">l1</button>
            
    <button class="arrow-btn leg-btn2" id="leg-button2">l2</button>

    <button class="arrow-btn full-up-btn1" id="lefull-up-button1">f1</button>

    <button class="arrow-btn full-up-btn2" id="full-up-button2">f2</button> -->

</div>


<script  src="../scripts/index.js"></script>
</body>
</html>
